<section class="section section-accessibility padding-y-64">
  <div class="container">
    <div class="row">
      <h1 class="font-size-40 font-weight-bold text-align-center">Accessible</h1>
      <p class="color-whisper text-align-center padding-y-16">
        With 3 data center regions, get the global reach and the local presence
        you need.
      </p>
    </div>
    <div class="row padding-y-64 justify-content-center">
      <div class="column-12 column-sm-6 column-md-3 column-lg-2 padding-y-8">
        <p class="font-size-40 font-weight-medium text-align-center">1M</p>
        <p class="text-align-center padding-y-8">Customers</p>
      </div>
      <div class="column-12 column-sm-6 column-md-3 column-lg-2 padding-y-8">
        <p class="font-size-40 font-weight-medium text-align-center">99.99%</p>
        <p class="text-align-center padding-y-8">Uptime SLA</p>
      </div>
      <div class="column-12 column-sm-6 column-md-3 column-lg-2 padding-y-8">
        <p class="font-size-40 font-weight-medium text-align-center">3</p>
        <p class="text-align-center padding-y-8">Global Regions</p>
      </div>
      <div class="column-12 column-sm-6 column-md-3 column-lg-2 padding-y-8">
        <p class="font-size-40 font-weight-medium text-align-center">100%</p>
        <p class="text-align-center padding-y-8">Independent</p>
      </div>
    </div>
    <amp-img
      alt="Map Illustration"
      src="/images/map.png"
      width="1755"
      height="747"
      layout="responsive"
    >
    </amp-img>
  </div>
</section>
