<section class="section section-cta">
    <amp-img
      alt="Minecraft Screenshot"
      src="/images/cta-background.png"
      width="2049"
      height="1086"
      layout="responsive"
    >
    </amp-img>
    <div class="overlay display-flex align-items-center">
      <div class="container display-flex flex-direction-column align-items-center justify-content-center">
        <h1 class="font-size-32 font-weight-bold padding-y-32 text-align-center">Accelerate Your Game With Us Today.</h1>
        <a class="font-weight-semi-bold background-color-dodger-blue padding-x-32 padding-y-24 border-radius-16" href="#">View Plans</a>
      </div>
    </div>
</section>
