<section class="section section-features padding-y-64">
  <div class="container">
    <div class="row">
      <h1 class="font-size-40 font-weight-bold text-align-center">Features</h1>
      <p class="color-whisper text-align-center padding-y-16">
        Upgrade your game with awesome features in every purchase.
      </p>
    </div>
    <div class="row padding-y-16">

      <div class="column-12 column-sm-6 column-lg-4">
        <div class="padding-24">
          <div class="square-container background-color-swamp">
            <div class="square-content display-flex flex-direction-column justify-content-center padding-24">
              <div class="card-image flex-grow-1 margin-bottom-24"
                   style="background-image: url('/images/bandwidth.png')"
                >
              </div>
              <h2 class="card-title font-weight-bold text-align-center">
                Unlimited Bandwidth
              </h2>
              <div class="card-link color-aqua text-align-center padding-y-8">
                <a href="#">
                  Hover for more details >
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="column-12 column-sm-6 column-lg-4">
        <div class="padding-24">
          <div class="square-container background-color-swamp">
            <div class="square-content display-flex flex-direction-column justify-content-center padding-24">
              <h2 class="card-title font-weight-bold text-align-center">
                Secure Authentication
              </h2>
              <div class="text-align-center padding-y-8">
                We hook your console access directly into our OCID login system.
                You can say goodbye to brute force account hacks.
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="column-12 column-sm-6 column-lg-4">
        <div class="padding-24">
          <div class="square-container background-color-swamp">
            <div class="square-content display-flex flex-direction-column justify-content-center padding-24">
              <div class="card-image flex-grow-1 margin-bottom-24"
                   style="background-image: url('/images/protection.png')"
                >
              </div>
              <h2 class="card-title font-weight-bold text-align-center">
                DDOS Protection
              </h2>
              <div class="card-link color-aqua text-align-center padding-y-8">
                <a href="#">
                  Hover for more details >
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="column-12 column-sm-6 column-lg-4">
        <div class="padding-24">
          <div class="square-container background-color-swamp">
            <div class="square-content display-flex flex-direction-column justify-content-center padding-24">
              <div class="card-image flex-grow-1 margin-bottom-24"
                   style="background-image: url('/images/backup.png')"
                >
              </div>
              <h2 class="card-title font-weight-bold text-align-center">
                60 Days Backup
              </h2>
              <div class="card-link color-aqua text-align-center padding-y-8">
                <a href="#">
                  Hover for more details >
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="column-12 column-sm-6 column-lg-4">
        <div class="padding-24">
          <div class="square-container background-color-swamp">
            <div class="square-content display-flex flex-direction-column justify-content-center padding-24">
              <div class="card-image flex-grow-1 margin-bottom-24"
                   style="background-image: url('/images/quickstart.png')"
                >
              </div>
              <h2 class="card-title font-weight-bold text-align-center">
                Quickstart
              </h2>
              <div class="card-link color-aqua text-align-center padding-y-8">
                <a href="#">
                  Hover for more details >
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="column-12 column-sm-6 column-lg-4">
        <div class="padding-24">
          <div class="square-container background-color-swamp">
            <div class="square-content display-flex flex-direction-column justify-content-center padding-24">
              <div class="card-image flex-grow-1 margin-bottom-24"
                   style="background-image: url('/images/online-support.png')"
                >
              </div>
              <h2 class="card-title font-weight-bold text-align-center">
                Community Support
              </h2>
              <div class="card-link color-aqua text-align-center padding-y-8">
                <a href="#">
                  Hover for more details >
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>
</section>
