<section class="section-powerful padding-y-64">
  <div class="container">
    <div class="row">
      <h1 class="font-size-32 font-weight-bold text-align-center">
        {{ .Params.about.team.title }}
      </h1>
    </div>
    <div class="row justify-content-center padding-top-64">
      {{ range .Params.about.team.members }}
      <div class="column-12 column-md-3 display-flex justify-content-center">
        <div class="padding-24 width-100 display-flex flex-direction-column align-items-center">
          <div class="portrait"
               style="background-image: url('{{ .image }}');"
          >
          </div>
          <h2 class="font-size-20 font-weight-bold padding-y-8 white-space-nowrap">
            {{ .name }}
          </h2>
          <p class="white-space-nowrap">
            {{ .position }}
          </p>
          <div class="display-flex align-items-center justify-content-center margin-y-16">
            <a class="display-block margin-x-8" href="{{ .github | safeURL }}">
              <amp-img
                class=""
                alt="GitHub"
                src="/images/github-icon.png"
                width="21"
                height="21"
                layout=""
              >
              </amp-img>
            </a>
            <a class="display-block margin-x-8" href="{{ .linkedin | safeURL }}">
              <amp-img
                class="display-block"
                alt="Linkedin"
                src="/images/linkedin-icon.png"
                width="21"
                height="21"
                layout=""
              >
              </amp-img>
            </a>
            <a class="display-block margin-x-8" href="{{ .email | safeURL }}">
              <amp-img
                class="display-block"
                alt="Email"
                src="/images/email-icon.png"
                width="20"
                height="21"
                layout=""
              >
              </amp-img>
            </a>
          </div>
        </div>
      </div>
      {{ end }}
    </div>
  </div>
</section>
