<section class="section-powerful padding-y-64">
  <div class="container">
    <div class="row">
      <h1 class="font-size-40 font-weight-bold text-align-center">
        {{ .Params.about.powerful.title }}
      </h1>
    </div>
    <div class="row padding-top-64">
      {{ range .Params.about.powerful.cards }}
      <div class="column-12 column-md-6">
        <div class="padding-24">
          <amp-img
            class="border-radius-8"
            alt="{{ .image.alt }}"
            src="{{ .image.src }}"
            width="{{ .image.width }}"
            height="{{ .image.height }}"
            layout="responsive"
          >
          </amp-img>
          <h2 class="font-size-25 font-weight-bold text-align-center padding-y-32">{{ .title }}</h2>
          <div class="color-aqua text-align-center">
            {{ with .button }}
              <a href="{{ .link }}">{{ .label }}</a>
            {{ end }}
          </div>
        </div>
      </div>
      {{ end }}
    </div>
    <div class="row justify-content-center">
      <div class="column-12 column-md-10">
        <p class="font-size-14 text-align-center">
          {{ .Params.about.powerful.text }}
        </p>
      </div>
    </div>
  </div>
</section>
