<section class="section-faqs padding-y-64">
  <div class="container">
    <div class="row padding-bottom-32">
      <div class="faqs-community-box">
        <h2 class="font-size-32 font-weight-bold text-align-center">
          Powerful with a Pinch of Bleeding Edge
        </h2>
        <p class="color-whisper padding-y-32 text-align-center">
          Find us on Discord or Discourse. Or send us a messenger pigeon, if that
          works for you.
        </p>
        <div class="display-flex flex-direction-column flex-direction-md-row justify-content-center">
          <a class="background-color-swamp border-radius-8 margin-16" href="#">
            <div class="display-flex align-items-center justify-content-center padding-x-32 padding-y-16">
              <amp-img
                class=""
                alt="Discord Icon"
                src="/images/discord.png"
                width="30"
                height="35"
              >
              </amp-img>
              <span class="padding-x-16 font-weight-bold">
                Discord
              </span>
            </div>
          </a>
          <a class="background-color-swamp border-radius-8 margin-16" href="#">
            <div class="display-flex align-items-center justify-content-center padding-x-32 padding-y-16">
              <amp-img
                class=""
                alt="Discourse Icon"
                src="/images/discourse.png"
                width="35"
                height="35"
              >
              </amp-img>
              <span class="padding-x-16 font-weight-bold">
                Discourse
              </span>
            </div>
          </a>
        </div>
      </div>
    </div>
  </div>
</section>
