<section class="section-faqs padding-y-64">
  <div class="container">
    <div class="row padding-bottom-32">
      <h1 class="font-size-50 font-weight-bold text-align-center">
        {{ .Params.content.questions.title }}
      </h1>
    </div>
    <div class="row padding-top-64 justify-content-space-around">
      {{ range .Site.Taxonomies.faqs }}
      <div class="column-12 column-md-5 padding-y-32">
        <h2 class="font-size-25 font-weight-bold">{{ .Page.Title }}</h2>
        <ul class="padding-y-32">
          {{ range .Page.RegularPages }}
            <li class="padding-y-8 color-whisper"><a class="" href="{{ .Permalink }}">{{ .Title }}</a></li>
          {{ end }}
        </ul>
      </div>
      {{ end }}
    </div>
  </div>
</section>
