<section class="section section-features padding-y-64">
  <div class="container">
    <div class="row">
      <h1 class="font-size-40 font-weight-bold text-align-center">
        {{ .Params.home.features.title }}
      </h1>
      <p class="color-whisper text-align-center padding-y-16">
        {{ .Params.home.features.text }}
      </p>
    </div>
    <div class="row padding-y-16 align-items-stretch">
      {{ range .Params.home.features.cards }}
      <div class="column-12 column-sm-6 column-lg-4">
        <div class="padding-24 height-100">
          <label class="square-container display-flex flex-direction-column justify-content-center background-color-swamp height-100 position-relative">
            <input type="radio" class="position-absolute opacity-0" name="features">
            <div class="square-content display-flex flex-direction-column justify-content-center padding-24">
              <div class="flex-grow-1 margin-bottom-24" >
              {{ with .animation }} 
                <amp-bodymovin-animation
                layout="responsive"
                width="150"
                height="150"
                src="{{ . }}"
                loop="true"
                >
              {{ end }}
              {{ with .image }} 
                <amp-img placeholder
                src="{{ . }}"
                width="150"
                height="150"
                layout="responsive"
                >
              {{ end }}
                </amp-img>  
                </amp-bodymovin-animation>
              </div>
              {{ with .title }} <h2 class="card-title font-weight-bold text-align-center"> {{ . }} </h2> {{ end }}
              {{ with .button }}
              <div class="card-link color-aqua text-align-center padding-y-8">
                <a {{ with .link }}href="{{ . }}"{{ end }}>
                  {{ .label }}
                </a>
              </div>
              {{ end }}
            </div>
            <div class="square-content-hover display-flex flex-direction-column justify-content-center padding-24">
              {{ with .title }} <h2 class="card-title font-weight-bold text-align-center"> {{ . }} </h2> {{ end }}
              {{ with .text }} <div class="text-align-center padding-y-8"> {{ . }} </div> {{ end }}
            </div>
          </label>
        </div>
      </div>
      {{ end }}
    </div>
  </div>
</section>
