<section class="section section-ryzen padding-y-64">
  <div class="container">
    <div class="row">
      <div class="column-12">
        <div class="padding-x-lg-64">
          <amp-img
            alt="{{ .Params.home.ryzen.image.alt }}"
            src="{{ .Params.home.ryzen.image.src }}"
            width="{{ .Params.home.ryzen.image.width }}"
            height="{{ .Params.home.ryzen.image.height }}"
            layout="responsive"
          >
          </amp-img>
        </div>
      </div>
    </div>
  </div>
</section>
