<section class="section section-hero padding-y-64">
  <div class="container">
    <div class="row">
      <div class="column-12 column-lg-8">
        <h1 class="section-hero-title font-size-50 font-weight-bold">
          {{ $lenght := len .Params.home.hero.titles }}
          {{ range $i, $e := .Params.home.hero.titles }}
            {{ $e }}{{ if ( ne (add $i 1) $lenght )}}<br>{{ end }}
          {{ end }}
          <div class="typing-slider section-hero-text font-size-50 font-weight-bold color-aqua">
            <amp-script script="typewriter-effect" width="540" height="140"><span class="typed-text"></span> <span class="cursor"></span></amp-script>
          </div>
        </h1>
      </div>
      <div class="column-12 column-lg-4">
        <amp-img
          alt="Host Illustration"
          src="{{ .Params.home.hero.image }}"
          width="516"
          height="532"
          layout="responsive"
        >
        </amp-img>
      </div>
    </div>
  </div>
  <script id="typewriter-effect" type="text/plain" target="amp-script">
    const typedTextSpan = document.querySelector(".typed-text");
    const cursorSpan = document.querySelector(".cursor");

    const textArray = [{{ range .Params.home.hero.subtitles }}"{{ . }}",{{ end }}];
    const typingDelay = 200;
    const erasingDelay = 100;
    const newTextDelay = 2000;
    let textArrayIndex = 0;
    let charIndex = 0;


    function type() {
      if ( textArray[textArrayIndex].length > charIndex) {
        if(!cursorSpan.classList.contains("typing")) cursorSpan.classList.add("typing");
        typedTextSpan.textContent += textArray[textArrayIndex].charAt(charIndex);
        charIndex++;
        setTimeout(type, typingDelay);
      } 
      else {
        cursorSpan.classList.remove("typing");
        setTimeout(erase, newTextDelay);
      }
    }

    function erase() {
      if (charIndex > 0) {
        if(!cursorSpan.classList.contains("typing")) cursorSpan.classList.add("typing");
        typedTextSpan.textContent = textArray[textArrayIndex].substring(0, charIndex-1);
        charIndex--;
        setTimeout(erase, erasingDelay);
      } 
      else {
        cursorSpan.classList.remove("typing");
        textArrayIndex++;
        if(textArrayIndex>=textArray.length) textArrayIndex=0;
        setTimeout(type, typingDelay + 1100);
      }
    }

    if(textArray.length) setTimeout(type, newTextDelay + 250);
  </script>
</section>
