<section class="section-faqs padding-y-64">
  <div class="container">
    <div class="row padding-bottom-32">
      <h1 class="font-size-40 font-weight-bold text-align-center">
        {{ .Params.content.whatYouGet.title }}
      </h1>
    </div>
    <div class="row justify-content-space-around">
      <div class="column-12 column-md-6 padding-y-32">
        <div class="padding-16">
          <amp-img
            class=""
            alt="{{ .Params.content.whatYouGet.featuredImage.alt }}"
            src="{{ .Params.content.whatYouGet.featuredImage.src }}"
            width="{{ .Params.content.whatYouGet.featuredImage.width }}"
            height="{{ .Params.content.whatYouGet.featuredImage.height }}"
            layout="responsive"
          >
          </amp-img>
        </div>
      </div>
      <div class="column-12 column-md-6 padding-y-32">
        <p class="padding-16">
          {{ .Params.content.whatYouGet.text | safeHTML }}
        </p>
      </div>
    </div>
  </div>
</section>
