<section class="section-table padding-y-64">
  <div class="container">
    <h2 class="font-size-24 font-weight-bold padding-bottom-32">Model 1: Economy</h2>
    <h2 class="font-size-24 font-weight-bold padding-bottom-32">PREORDER DISCOUNT: 50% OFF FIRST MONTH. INSTALL DATE 4/31/2023</h2>
    <p class="font-size-18 font-weight-bold padding-bottom-16">Experience Smooth Gameplay with Our Budget-Friendly Refurbished Server Line.</p>
    <div class="row padding-bottom-32 overflow-x-auto">
      <table>
        <thead class="font-weight-semi-bold background-color-licorice border-radius-8">
          <tr class="">
            <th class="text-align-left vertical-align-middle">Plans</th>
            <th class="text-align-left vertical-align-middle">RAM</th>
            <th class="text-align-left vertical-align-middle">Storage</th>
            <th class="text-align-left vertical-align-middle">Databases</th>
            <th class="text-align-left vertical-align-middle">Snapshots</th>
            <th class="text-align-left vertical-align-middle">Panel Users</th>
            <th class="text-align-left vertical-align-middle">Price</th>
            <th class="text-align-center vertical-align-middle">Buy</th>
          </tr>
        </thead>
        <tbody>
          {{ $currentPage := . }}
          {{ range (where .Pages ".Params.category" "Economy") }}
            <tr>
              <td>{{ .Title }}</td>
              {{ range .Params.product.customfields }}
                {{ if and (ne .type "hidden") (ne .name "SERVER TYPE") }}
                  <td>{{ .value }}</td>
                {{ end }}
              {{ end }}
              <td>{{ .Params.product.price }}</td>
              <td class="text-align-center">
                <button class="snipcart-add-item snipcart-add-item-button"
                  data-item-name="{{ .Params.product.name }}"
                  data-item-id="{{ .Params.product.id }}"
                  data-item-price="{{ .Params.product.price }}"
                  data-item-url="{{ $currentPage.Permalink }}"
                  
                  {{ range $i, $e := .Params.product.customFields }}
                    data-item-custom{{ add $i 1 }}-name="{{ $e.name }}"
                    {{ if eq $e.name "SERVER TYPE" }}
                      data-item-custom{{ add $i 1 }}-options="{{ $e.options }}"
                    {{ else }}
                      data-item-custom{{ add $i 1 }}-type="{{ $e.type }}"
                      data-item-custom{{ add $i 1 }}-value="{{ $e.value }}"
                    {{ end }}
                  {{ end }}

                  data-item-selected-plan="{{ .Params.product.selectedPlan }}"

                  {{ range $i, $e := .Params.product.availablePlans }}
                    data-plan{{ add $i 1 }}-id="{{ $e.id }}"
                    data-plan{{ add $i 1 }}-name="{{ $e.name }}"
                    data-plan{{ add $i 1 }}-frequency="{{ $e.frequency }}"
                    data-plan{{ add $i 1 }}-interval="{{ $e.interval }}"
                    data-item-plan{{ add $i 1 }}-price="{{ $e.itemPrice }}"
                  {{ end }}
                >
                  <amp-img
                    alt="Add to Cart"
                    src="/images/shopping-cart-plus.png"
                    width="24"
                    height="24"
                  >
                  </amp-img>
                </button>
              </td>
            </tr>
          {{ end }}
        </tbody>
      </table>
    </div>
  </div>
</section>