<section class="section section-plans-premade">
    <amp-img
      alt="Minecraft Screenshot"
      src="/images/plans-premade-background.png"
      width="2049"
      height="1086"
      layout="responsive"
    >
    </amp-img>
    <div class="overlay display-flex align-items-center">
      <div class="container">
        <div class="row align-items-center">
          <h1 class="font-size-50 font-weight-bold padding-y-32">Accelerate Your Game With Us Today.</h1>
          <p class="font-size-20 font-weight-bold">Monthly Pricing. No hidden fees. Value Included. </p>
        </div>
      </div>
    </div>
</section>
