<section class="section-table padding-y-64">
  <div class="container">
    <div class="row text-align-center color-whisper padding-bottom-32">
      <p class="padding-y-8">*Panel Access is in a public Alpha</p>
      <p class="padding-y-8">*Due to demand and upgrades, new orders will be placed in our NA region. Server moves availible once EU is ready</p>
      <p class="padding-y-8">*South-East Asia Region Coming Soon!</p>
      <p class="padding-y-8">*Backups are stored separately and are not counted towards your quota!</p>
    </div>
  </div>
</section>
