<section class="section-faqs padding-y-64">
  <div class="container">
    <div class="row padding-bottom-32">
      <h1 class="font-size-40 font-weight-bold text-align-center">
        What you get with your purchase:
      </h1>
    </div>
    <div class="row padding-top-64 justify-content-space-around">
      <div class="column-12 column-md-6 padding-y-32">
        <div class="padding-16">
          <amp-img
            class=""
            alt="Minecraft Screenshot"
            src="/images/cta-background.png"
            width="2049"
            height="1086"
            layout="responsive"
          >
          </amp-img>
        </div>
      </div>
      <div class="column-12 column-md-6 padding-y-32">
        <p class="padding-16">
          - DDR4 2666 ECC Memory<br>
          - Ryzen 3000 & 5000 series processors<br>
          - Replicated NVME storage <br>
          - Simplified WebDAV access point to view all servers at once<br>
          - DDOS Protection<br>
          - Disk Snapshotting and Restoration (up to 7 per customer)<br>
        </p>
        <p class="padding-16">
          All servers are routed through our public IP proxy.<br>
          Bungee servers receive their own public IPv4 address.<br>
          Bungee servers live on our edge routers for ultra-fast latency.<br>
          VPS servers receive their own public IPv4 address.<br>
        </p>
      </div>
    </div>
  </div>
</section>
