{{ if ne .Params.amp.enable false }}
{{ partial "amp/google-analytics" . }}
{{ if ( ne .Params.disableSnipcart true ) }}
  <script async src="https://cdn.snipcart.com/themes/v3.2.1/default/snipcart.js"></script>
{{ end }}
<div hidden id="snipcart" data-api-key="{{ site.Params.snipcartApiKey }}" data-config-modal-style="side"></div>
{{ if ( ne .Site.Params.disableExitModal true ) }}
  {{ partial "section/exit-modal.html" . }}
{{ end }}

</body>
</html>
{{ else }}
{{ partial "structure/foot.no-amp" . }}
{{ end }}
