{{ if ne .Params.amp.enable false }}
{{ partial "amp/google-analytics" . }}
<script async src="https://cdn.snipcart.com/themes/v3.2.1/default/snipcart.js"></script>
<div hidden id="snipcart" data-api-key="MzE1NDc0ZDktZGRkMC00MmQ1LTkzOGQtYmI1OTExOGVhZTdjNjM3NjY2OTQwNTM1NTYxNjYy" data-config-modal-style="side"></div>
<!-- <script> -->
<!--   console.log("Styling sliders!") -->
<!--   for (let e of document.querySelectorAll('input[type="range"].slider-progress')) { -->
<!--   e.style.setProperty('--value', e.value); -->
<!--   e.style.setProperty('--min', e.min == '' ? '0' : e.min); -->
<!--   e.style.setProperty('--max', e.max == '' ? '100' : e.max); -->
<!--   e.addEventListener('input', () => e.style.setProperty('--value', e.value)); -->
<!-- } -->
<!-- </script> -->
</body>
</html>
{{ else }}
{{ partial "structure/foot.no-amp" . }}
{{ end }}
