<section class="section-powerful padding-y-64">
  <div class="container">
    <div class="row">
      <h1 class="font-size-40 font-weight-bold text-align-center">
        Powerful with a Pinch of Bleeding Edge
      </h1>
    </div>
    <div class="row padding-top-64">
      <div class="column-12 column-md-6">
        <div class="padding-24">
          <amp-img
            class="border-radius-8"
            alt="Minecraft Screenshot"
            src="/images/cta-background.png"
            width="2049"
            height="1086"
            layout="responsive"
          >
          </amp-img>
          <h2 class="font-size-25 font-weight-bold text-align-center padding-y-32">Custom builds for Powerful Solutions</h2>
          <div class="color-aqua text-align-center">
            <a href="#">Read More ></a>
          </div>
        </div>
      </div>
      <div class="column-12 column-md-6">
        <div class="padding-24">
          <amp-img
            class="border-radius-8"
            alt="Minecraft Screenshot"
            src="/images/cta-background.png"
            width="2049"
            height="1086"
            layout="responsive"
          >
          </amp-img>
          <h2 class="font-size-25 font-weight-bold text-align-center padding-y-32">Powered by a Modern Stack</h2>
          <div class="color-aqua text-align-center">
            <a href="#">Read More ></a>
          </div>
        </div>
      </div>
    </div>
    <div class="row justify-content-center">
      <div class="column-12 column-md-10">
        <p class="font-size-14 text-align-center">
          We were the first to create a gaming community that took advantage of
          Kubernetes, a modern open-source base for us to build our platform
          on.  In addition to our contributions to the Minecraft community, we
          provide one of the most optimal platforms tailed to gaming while
          applying our knowledge towards continuous performance improvements
        </p>
      </div>
    </div>
  </div>
</section>
