<section class="section-powerful padding-y-64">
  <div class="container">
    <div class="row">
      <h1 class="font-size-32 font-weight-bold text-align-center">
        Powered by our Growing Community
      </h1>
    </div>
    <div class="row padding-top-64">
      <div class="column-12 column-md-6">
        <div class="padding-24">
          <amp-img
            class="border-radius-8"
            alt="Minecraft Screenshot"
            src="/images/cta-background.png"
            width="2049"
            height="1086"
            layout="responsive"
          >
          </amp-img>
          <h2 class="font-size-25 font-weight-bold text-align-center padding-y-32">United Federation of AFK players</h2>
          <p class="color-aqua text-align-center">
            "Needless to say, we're proud of our work we've done so far on the
            server And thanks to the hosting provider we can keep going."
          </p>
        </div>
      </div>
      <div class="column-12 column-md-6">
        <div class="padding-24">
          <amp-img
            class="border-radius-8"
            alt="Minecraft Screenshot"
            src="/images/cta-background.png"
            width="2049"
            height="1086"
            layout="responsive"
          >
          </amp-img>
          <h2 class="font-size-25 font-weight-bold text-align-center padding-y-32">Lorem Ipsum Placeholder</h2>
          <p class="color-aqua text-align-center">
            Second Quote
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
