{{ partial "structure/head" . }}

{{ partial "navigation/navbar.html" . }}

<main>
  {{ partial "section/plans-premade-header.html" . }}
  {{ partial "section/plans-premade-what-you-get.html" . }}
  {{ partial "section/plans-premade-table-general.html" . }}
  {{ partial "section/plans-premade-table-economy.html" . }}
  {{ partial "section/plans-premade-table-high-performance.html" . }}
  {{ partial "section/plans-premade-notes.html" . }}
</main>

{{ partial "navigation/footer.html" . }}

{{ partial "structure/foot" . }}
