.miliseconds {
  position: relative;
  font-weight: 500;


  .miliseconds-label {
    font-size: 0.6rem;

    @media (min-width: 576px) { font-size: 0.8rem; }
    @media (min-width: 768px) { font-size: 1.0rem; }
    @media (min-width: 992px) { font-size: 1.2rem }
    @media (min-width: 1200px) { font-size: 1.4rem }
    @media (min-width: 1400px) { font-size: 1.6rem; }

    .small {
      position: relative;
      font-size: 50%;

      .top {

        position: absolute;
        top: 0;
        left: 50%;
        transform: translate(-50%, -48%);

        height: 100%;

        svg {
          height: 50%;
        }

      }
    }
  }

  .america-1 {
    position: absolute;
    top: 65%;
    left: 33%;
  }
  .america-2 {
    position: absolute;
    top: 63%;
    left: 27%;
  }
  .america-3 {
    position: absolute;
    top: 58%;
    left: 22%;
  }
  .america-4 {
    position: absolute;
    top: 44%;
    left: 17%;
  }

  .euroasia-1 {
    position: absolute;
    top: 50%;
    left: 74%;
  }
  .euroasia-2 {
    position: absolute;
    top: 60%;
    left: 68%;
  }
  .euroasia-3 {
    position: absolute;
    top: 70%;
    left: 62%;
  }
  .euroasia-4 {
    position: absolute;
    top: 82%;
    left: 58%;
  }
}
