.features-card {
  position: relative;
  width: 100%;
}

.square-container {
  .square-content {
    opacity: 1;
  }

  .square-content-hover {
    visibility: hidden;
    position: absolute;
    top: -100vh;
    opacity: 0;
  }

  input:checked {
    background-color: red;

    & ~ .square-content {
      display: none;
      opacity: 0;
    }

    & ~ .square-content-hover {
      visibility: visible;
      position: static;
      opacity: 1;
      transition: opacity 500ms;
    }
  }

  @media (min-width: 576px) {
    &:hover {
      .square-content {
        display: none;
        opacity: 0;
      }

      .square-content-hover {
        visibility: visible;
        position: static;
        opacity: 1;
        transition: opacity 500ms;
      }
    }
  } 
}

.card-image {
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;

  width: 100%;
  padding-bottom: 100%;
}
