.features-card {
  position: relative;
  width: 100%;
  padding-top: 100%;

}

.card-link {
  position: relative;
  cursor: pointer;

  .card-popup {
    position: absolute;

    background-color: #121212;
    border: 1px solid #707070;
    border-radius: 8px;
    z-index: 1;

    opacity: 0;
    visibility: hidden;
  }

  &:hover {
    .card-popup {
      opacity: 1;
      visibility: visible;
      transition: opacity 500ms;
    }
  }
}

.card-image {
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}
