.section-hero-title {
  display: inline-block;
  position: relative;
  max-width: 100%;
  padding-bottom: 64px;

  .section-hero-text {
    padding-bottom: 50px;

    @media (min-width: 768px) { 
      position: absolute;
      right: 1ch;
      top: 0;
      transform: translate(100%, 50px);
    }
  }
}

