:root {
  --color-primary: #005AF0;
  --space-1: .5rem;  /* 8px */
  --space-4: 2rem;   /* 32px */
}

.section-plans-custom-purchase {
  min-height: 100vh;

  .tabs-with-selector {
    background-color: #2D3A4A;
      border: 1px gray solid;
      border-radius: 8px;
      margin: 0px 8px;
  }

  .tab {
    position: relative;

    display: flex;
    align-items: center;
    justify-content: center;

    font-weight: bold;
    color: #696969;


    .tab-body {
      z-index: 1;
    }

    .tab-number,
    .tab-completed {
      align-items: center;
      justify-content: center;

      background-color: #696969;
      color: #2D3A4A;
      border-radius: 50%;

      width: 42px;
      max-width: 42px;
      min-width: 42px;

      height: 42px;
      max-height: 42px;
      min-height: 42px;
    }

    .tab-number {
      display: flex;
    }

    .tab-completed {
      display: none;
    }

    .tab-label {
    }

    &.done {
      color: #FFFFFF;

      .tab-number {
        display: none;
      }

      .tab-completed {
        display: flex;

        background-color: #0068FF;
        color: #FFFFFF;
      }
    }

    &[selected] {
      color: #FFFFFF;

      .tab-number {
        background-color: #0068FF;
        color: #FFFFFF;
      }
    }

  }

  .tab-line {
    &::before {
      content: "";
      display: block;
      position: absolute;
      width: 100%;
      right: -50%;
      border-bottom: 1px gray solid;
    }
  }

  .extra-block {
    input {
      // opacity: 0;
    }

    .focused-block {
      display: none;

      width: 0;
      height: 175px;

      max-width: 0;
    }
    .unfocused-block {
      display: flex;

      width: 175px;
      height: 175px;

      background-color: #2D3A4A;
    }

    input:checked ~ .focused-block {
      display: flex;

      width: 440px;
      height: 175px;

      min-width: 440px;
      max-width: 440px;

      transition: all 500ms;
    }
    input:checked ~ .unfocused-block {
      display: none;
    }
  }


  /* Styles for the selector based tabs */
  amp-selector[role=tablist].tabs-with-selector {
      display: flex;
  }
  amp-selector[role=tablist].tabs-with-selector [role=tab][selected] {
      outline: none;
  }
  amp-selector[role=tablist].tabs-with-selector {
      display: flex;
  }
  amp-selector[role=tablist].tabs-with-selector [role=tab] {
    text-align: center;
    padding: var(--space-1);
  }
  amp-selector.tabpanels [role=tabpanel] {
    display: none;
    padding: var(--space-4);
  }
  amp-selector.tabpanels [role=tabpanel][selected] {
    outline: none;
    display: block;
  }


  // Slide
  input:focus {
    outline: none;
  }


  .slider-selector {
    .slider {
      width: 100%;
    }

    .tickmarks {
      display: flex;
      justify-content: space-between;
      padding: 10px 0;
      padding-left: 6px;
      padding-right: 4px;
    }
    .tickmarks p {
      position: relative;
      padding: 8px 0;

      display: flex;
      justify-content: center;
      text-align: center;

      min-width: 16px;
      max-width: 16px;

      &::before {
        content: " ";
        position: absolute;
        top: -6px;
        left: 50%;
        width: 2px;
        height: 6px;
        background-color: lightgray;
      }
    }
  }
}


